USE [DEMO]
GO
/****** Object:  Database [DEMO]    Script Date: 3/12/2021 6:42:12 PM ******/
CREATE DATABASE [DEMO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEMO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DEMO.ndf' , SIZE = 5312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DEMO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DEMO_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10240KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEMO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEMO]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[password] [varchar](255) NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[username] [varchar](255) NULL,
	[isdelete] [bit] NULL,
	[role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[brand]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[logo] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[update_by] [varchar](255) NULL,
	[update_date] [date] NULL,
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cart]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [date] NULL,
	[total] [float] NULL,
	[update_date] [date] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cart_detail]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_price] [float] NULL,
	[quantity] [int] NULL,
	[total] [float] NULL,
	[update_date] [date] NULL,
	[cart_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[comment]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NULL,
	[created_date] [date] NULL,
	[rate] [int] NULL,
	[update_date] [date] NULL,
	[isdelete] [bit] NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[delivery]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[delivery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [date] NULL,
	[delivery_message] [nvarchar](255) NULL,
	[delivery_status] [int] NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[user_note] [nvarchar](255) NULL,
	[invoice_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[email]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[email](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [date] NULL,
	[email] [varchar](255) NULL,
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[created_date] [date] NULL,
	[payment] [nvarchar](255) NULL,
	[status] [int] NULL,
	[total] [float] NULL,
	[update_date] [date] NULL,
	[update_by] [varchar](255) NULL,
	[isdelete] [bit] NULL,
	[user_id] [int] NULL,
	[voucher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[invoice_detail]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [date] NULL,
	[product_price] [int] NULL,
	[quantity] [int] NULL,
	[total] [float] NULL,
	[update_date] [date] NULL,
	[invoice_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[prodct_property]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_property](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[name] [varchar](255) NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[issale] [bit] NULL,
	[name] [nvarchar](255) NULL,
	[price] [float] NULL,
	[price_sale] [float] NULL,
	[isdelete] [bit] NULL,
	[brand_id] [int] NULL,
	[product_types_id] [int] NULL,
	[gender] [bit] NOT NULL,
	[creatd_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_detail]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_image]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[image] [varchar](255) NULL,
	[piority] [int] NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[isdelete] [bit] NULL,
	[product_id] [int] NULL,
	[proiority] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_property]    Script Date: 3/12/2021 6:42:12 PM ******/

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_property_detail]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_property_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[description] [nvarchar](255) NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[product_id] [int] NULL,
	[product_property_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_type]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[name] [nvarchar](255) NULL,
	[update_date] [date] NULL,
	[update_by] [varchar](255) NULL,
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[provider]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[provider](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[email] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[phone] [varchar](255) NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[storage]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[storage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[quantity] [int] NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[provider_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[created_date] [date] NULL,
	[email] [varchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[gender] [bit] NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[update_date] [date] NULL,
	[username] [varchar](255) NULL,
	[isdelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users_token]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users_token](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_status] [int] NULL,
	[email_confirm_token] [varchar](255) NULL,
	[password_reminder_expire] [date] NULL,
	[password_reminder_token] [varchar](255) NULL,
	[registration_time] [date] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[voucher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[create_by] [varchar](255) NULL,
	[created_date] [date] NULL,
	[expiration_date] [date] NULL,
	[limit_use] [int] NULL,
	[status] [bit] NULL,
	[update_by] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[value] [int] NULL,
	[product_type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[wishlish]    Script Date: 3/12/2021 6:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlish](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [date] NULL,
	[update_date] [date] NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([id], [create_by], [created_date], [password], [update_by], [updated_date], [username], [isdelete], [role]) VALUES (1, NULL, CAST(N'2021-03-04' AS Date), N'1234567', NULL, NULL, N'admin@gmail.com', 0, 0)
INSERT [dbo].[admin] ([id], [create_by], [created_date], [password], [update_by], [updated_date], [username], [isdelete], [role]) VALUES (2, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'1234567', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'admin1@gmail.com', 0, 0)
INSERT [dbo].[admin] ([id], [create_by], [created_date], [password], [update_by], [updated_date], [username], [isdelete], [role]) VALUES (3, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'1234567', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'admin2@gmail.com', 0, 0)
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [created_by], [created_date], [description], [logo], [name], [update_by], [update_date], [isdelete]) VALUES (1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Thương Hiệu Nổi Tiếng', N'anh1.jpg', N'CASIO', N'admin1@gmail.com', CAST(N'2021-03-04' AS Date), 0)
INSERT [dbo].[brand] ([id], [created_by], [created_date], [description], [logo], [name], [update_by], [update_date], [isdelete]) VALUES (2, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Thương Hiệu Nổi Tiếng', N'anh2.jpg', N'ORINENT', N'admin1@gmail.com', CAST(N'2021-03-05' AS Date), 0)
INSERT [dbo].[brand] ([id], [created_by], [created_date], [description], [logo], [name], [update_by], [update_date], [isdelete]) VALUES (3, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Thương Hiệu Nổi Tiếng', N'anh3.jpg', N'CITIZEN', N'admin1@gmail.com', CAST(N'2021-03-05' AS Date), 0)
SET IDENTITY_INSERT [dbo].[brand] OFF
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [created_date], [total], [update_date], [user_id]) VALUES (1, CAST(N'2021-03-04' AS Date), 10000000, CAST(N'2021-03-04' AS Date), 1)
INSERT [dbo].[cart] ([id], [created_date], [total], [update_date], [user_id]) VALUES (2, CAST(N'2021-03-04' AS Date), 13849000, CAST(N'2021-03-04' AS Date), 2)
INSERT [dbo].[cart] ([id], [created_date], [total], [update_date], [user_id]) VALUES (3, CAST(N'2021-03-04' AS Date), 9990000, CAST(N'2021-03-04' AS Date), 3)
SET IDENTITY_INSERT [dbo].[cart] OFF
SET IDENTITY_INSERT [dbo].[cart_detail] ON 

INSERT [dbo].[cart_detail] ([id], [product_price], [quantity], [total], [update_date], [cart_id], [product_id]) VALUES (1, 1000000, 1, 1000000, CAST(N'2021-03-04' AS Date), 1, 1)
INSERT [dbo].[cart_detail] ([id], [product_price], [quantity], [total], [update_date], [cart_id], [product_id]) VALUES (2, 990000, 1, 990000, CAST(N'2021-03-04' AS Date), 1, 2)
INSERT [dbo].[cart_detail] ([id], [product_price], [quantity], [total], [update_date], [cart_id], [product_id]) VALUES (3, 1310000, 1, 1310000, CAST(N'2021-03-04' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[cart_detail] OFF
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([id], [content], [created_date], [rate], [update_date], [isdelete], [user_id], [product_id]) VALUES (1, N'Sản Phẩm tốt', CAST(N'2021-03-04' AS Date), 5, CAST(N'2021-03-04' AS Date), 0, 1, 1)
INSERT [dbo].[comment] ([id], [content], [created_date], [rate], [update_date], [isdelete], [user_id], [product_id]) VALUES (2, N'Bình Thường', CAST(N'2021-03-04' AS Date), 2, CAST(N'2021-03-04' AS Date), 0, 1, 2)
INSERT [dbo].[comment] ([id], [content], [created_date], [rate], [update_date], [isdelete], [user_id], [product_id]) VALUES (3, N'Sản Phẩm Kém chất lượng', CAST(N'2021-03-04' AS Date), 1, CAST(N'2021-03-04' AS Date), 0, 2, 2)
SET IDENTITY_INSERT [dbo].[comment] OFF
SET IDENTITY_INSERT [dbo].[delivery] ON 

INSERT [dbo].[delivery] ([id], [created_date], [delivery_message], [delivery_status], [update_by], [updated_date], [user_note], [invoice_id]) VALUES (1, CAST(N'2021-03-04' AS Date), NULL, 1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Nhớ Giao Đúng giờ', 1)
INSERT [dbo].[delivery] ([id], [created_date], [delivery_message], [delivery_status], [update_by], [updated_date], [user_note], [invoice_id]) VALUES (2, CAST(N'2021-03-04' AS Date), N'Hàng dễ vỡ', 0, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Nhớ Giao Đúng giờ', 2)
SET IDENTITY_INSERT [dbo].[delivery] OFF
SET IDENTITY_INSERT [dbo].[email] ON 

INSERT [dbo].[email] ([id], [created_date], [email], [isdelete]) VALUES (1, CAST(N'2021-03-04' AS Date), N'tranvanlong@gmail.com', 0)
INSERT [dbo].[email] ([id], [created_date], [email], [isdelete]) VALUES (2, CAST(N'2021-03-04' AS Date), N'levanluyen@gmail.com', 0)
INSERT [dbo].[email] ([id], [created_date], [email], [isdelete]) VALUES (3, CAST(N'2021-03-04' AS Date), N'nguyentrongnhan@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[email] OFF
SET IDENTITY_INSERT [dbo].[invoice] ON 

INSERT [dbo].[invoice] ([id], [code], [created_date], [payment], [status], [total], [update_date], [update_by], [isdelete], [user_id], [voucher_id]) VALUES (1, N'HD01', CAST(N'2021-03-04' AS Date), N'Trực Tiếp', 4, 10000000, CAST(N'2021-03-04' AS Date), N'admin@gmail.com', 0, 1, 1)
INSERT [dbo].[invoice] ([id], [code], [created_date], [payment], [status], [total], [update_date], [update_by], [isdelete], [user_id], [voucher_id]) VALUES (2, N'HD01', CAST(N'2021-03-04' AS Date), N'Thẻ', 3, 9000000, CAST(N'2021-03-04' AS Date), N'admin@gmail.com', 0, 1, NULL)
INSERT [dbo].[invoice] ([id], [code], [created_date], [payment], [status], [total], [update_date], [update_by], [isdelete], [user_id], [voucher_id]) VALUES (3, N'HD01', CAST(N'2021-03-04' AS Date), N'Thẻ', 1, 9000000, CAST(N'2021-03-04' AS Date), N'admin@gmail.com', 0, 2, 1)
SET IDENTITY_INSERT [dbo].[invoice] OFF
SET IDENTITY_INSERT [dbo].[invoice_detail] ON 

INSERT [dbo].[invoice_detail] ([id], [created_date], [product_price], [quantity], [total], [update_date], [invoice_id], [product_id]) VALUES (1, CAST(N'2021-03-04' AS Date), 1000000, 1, 1000000, CAST(N'2021-03-04' AS Date), 1, 1)
INSERT [dbo].[invoice_detail] ([id], [created_date], [product_price], [quantity], [total], [update_date], [invoice_id], [product_id]) VALUES (2, CAST(N'2021-03-04' AS Date), 9000000, 2, 1800000, CAST(N'2021-03-04' AS Date), 1, 2)
INSERT [dbo].[invoice_detail] ([id], [created_date], [product_price], [quantity], [total], [update_date], [invoice_id], [product_id]) VALUES (3, CAST(N'2021-03-04' AS Date), 1000000, 1, 1000000, CAST(N'2021-03-04' AS Date), 2, 3)
SET IDENTITY_INSERT [dbo].[invoice_detail] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [code], [created_by], [created_date], [description], [issale], [name], [price], [price_sale], [isdelete], [brand_id], [product_types_id], [gender], [creatd_by]) VALUES (1, N'EFR-527L-1AVUDF', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Đồng hồ Casio EFR-527L-1AVUDF dành cho nam giới, thuộc bộ sưu tập Edifice của Casio với tính năng Chronograph giờ thể thao 6 kim chỉ cá tính, dây đeo bằng da đen nam tính và còn có 1 lịch ngày.', 0, N'CASIO EFR-527L-1AVUDF', 3196000, 0, 0, 1, 1, 1, NULL)
INSERT [dbo].[product] ([id], [code], [created_by], [created_date], [description], [issale], [name], [price], [price_sale], [isdelete], [brand_id], [product_types_id], [gender], [creatd_by]) VALUES (2, N'EFR-547D-2AVUDF', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Đồng hồ Casio EFR-547D-2AVUDF với mặt số lớn phong cách thể thao mạnh mẽ, nền xanh sang trọng cùng kim chỉ và vạch số được phủ phản quang nổi bật, đèn LED có độ chiếu sáng cao giúp nhìn rõ trong đêm.', 0, N'CASIO EFR-547D-2AVUDF', 4230000, 0, 0, 1, 1, 1, NULL)
INSERT [dbo].[product] ([id], [code], [created_by], [created_date], [description], [issale], [name], [price], [price_sale], [isdelete], [brand_id], [product_types_id], [gender], [creatd_by]) VALUES (3, N'MTP-1302L-1AVDF', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Đồng hồ Casio MTP-1302L-1AVDF có vỏ kim loại được mạ bạc tinh tế quanh nền đen mặt số, kim chỉ và vạch số được phủ phản quang nổi bật, dây đeo da vân đen lịch lãm, nam tính.', 1, N'CASIO EFR-547D-2AVUDF', 1128000, 1000000, 0, 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[product_detail] ON 

INSERT [dbo].[product_detail] ([id], [content], [create_by], [created_date], [update_by], [updated_date], [product_id]) VALUES (1, N'Nằm trong bộ sưu tập Casio Edifice WR100m ăn khách nhất hiện nay, đồng hồ Casio EFR-527L-1AVUDF còn sở hữu giá thành cực rẻ chưa đến 4 triệu đồng. Vậy thiết kế lần này có gì mà tạo nên được sức hút mạnh mẽ dành cho nam giới đến vậy? Hãy cùng Hải Triều tìm hiểu chi tiết ngay bên dưới.', N'admin@gmaail.com', CAST(N'2021-03-04' AS Date), N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 1)
INSERT [dbo].[product_detail] ([id], [content], [create_by], [created_date], [update_by], [updated_date], [product_id]) VALUES (2, N'Khi nhắc tới thương hiệu đồng hồ Casio thì người ta sẽ nghĩ ngay đến sự sáng tạo được đưa vào trong những mẫu thiết kế, từ những sản phẩm có mức giá rẻ nhất cho đến các phiên bản đồng hồ cao cấp hơn hãng không bao giờ làm cho chúng ta thất vọng.', N'admin@gmaail.com', CAST(N'2021-03-04' AS Date), N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 2)
INSERT [dbo].[product_detail] ([id], [content], [create_by], [created_date], [update_by], [updated_date], [product_id]) VALUES (3, N'Khi nhắc tới thương hiệu đồng hồ Casio thì người ta sẽ nghĩ ngay đến sự sáng tạo được đưa vào trong những mẫu thiết kế, từ những sản phẩm có mức giá rẻ nhất cho đến các phiên bản đồng hồ cao cấp hơn hãng không bao giờ làm cho chúng ta thất vọng.', N'admin@gmaail.com', CAST(N'2021-03-04' AS Date), N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 3)
SET IDENTITY_INSERT [dbo].[product_detail] OFF
SET IDENTITY_INSERT [dbo].[product_image] ON 

INSERT [dbo].[product_image] ([id], [create_by], [created_date], [image], [piority], [update_by], [updated_date], [isdelete], [product_id], [proiority]) VALUES (1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'1_anh1.jpg', 1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 0, 1, NULL)
INSERT [dbo].[product_image] ([id], [create_by], [created_date], [image], [piority], [update_by], [updated_date], [isdelete], [product_id], [proiority]) VALUES (2, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'1_anh2.jpg', 0, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 0, 1, NULL)
INSERT [dbo].[product_image] ([id], [create_by], [created_date], [image], [piority], [update_by], [updated_date], [isdelete], [product_id], [proiority]) VALUES (3, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'1_anh3.jpg', 0, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[product_image] OFF
SET IDENTITY_INSERT [dbo].[product_property] ON 

INSERT [dbo].[product_property] ([id], [create_by], [created_date], [name], [update_by], [updated_date]) VALUES (1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Số Hiệu Sản Phẩm', N'admin@gmail.com', CAST(N'2021-03-04' AS Date))
INSERT [dbo].[product_property] ([id], [create_by], [created_date], [name], [update_by], [updated_date]) VALUES (2, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Xuất Xứ', N'admin@gmail.com', CAST(N'2021-03-04' AS Date))
INSERT [dbo].[product_property] ([id], [create_by], [created_date], [name], [update_by], [updated_date]) VALUES (3, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Kính', N'admin@gmail.com', CAST(N'2021-03-04' AS Date))
SET IDENTITY_INSERT [dbo].[product_property] OFF
SET IDENTITY_INSERT [dbo].[product_property_detail] ON 

INSERT [dbo].[product_property_detail] ([id], [create_by], [created_date], [description], [update_by], [updated_date], [product_id], [product_property_id]) VALUES (1, N'admin@gmail.com', CAST(N'2021-03-05' AS Date), N'EFR-527L-1AVUDF', N'admin@gmail.com', CAST(N'2021-03-05' AS Date), 1, 1)
INSERT [dbo].[product_property_detail] ([id], [create_by], [created_date], [description], [update_by], [updated_date], [product_id], [product_property_id]) VALUES (2, N'admin@gmail.com', CAST(N'2021-03-05' AS Date), N'Nhật Bản', N'admin@gmail.com', CAST(N'2021-03-05' AS Date), 1, 2)
INSERT [dbo].[product_property_detail] ([id], [create_by], [created_date], [description], [update_by], [updated_date], [product_id], [product_property_id]) VALUES (3, N'admin@gmail.com', CAST(N'2021-03-05' AS Date), N'Mineral Crystal (Kính Cứng)', N'admin@gmail.com', CAST(N'2021-03-05' AS Date), 1, 3)
GO
SET IDENTITY_INSERT [dbo].[product_property_detail] OFF
SET IDENTITY_INSERT [dbo].[product_type] ON 

INSERT [dbo].[product_type] ([id], [created_by], [created_date], [name], [update_date], [update_by], [isdelete]) VALUES (1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Đồng Hồ Cơ', CAST(N'2021-03-04' AS Date), N'admin@gmail.com', 0)
INSERT [dbo].[product_type] ([id], [created_by], [created_date], [name], [update_date], [update_by], [isdelete]) VALUES (2, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Đồng Hồ Điện Tử', CAST(N'2021-03-04' AS Date), N'admin@gmail.com', 0)
INSERT [dbo].[product_type] ([id], [created_by], [created_date], [name], [update_date], [update_by], [isdelete]) VALUES (3, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), N'Đồng Hồ Thông Minh', CAST(N'2021-03-04' AS Date), N'admin@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[product_type] OFF
SET IDENTITY_INSERT [dbo].[provider] ON 

INSERT [dbo].[provider] ([id], [address], [create_by], [created_date], [email], [name], [phone], [update_by], [updated_date], [isdelete]) VALUES (1, N'193/2 Nam Kì Khởi Nghĩa, Phường 7, Quận 3, Tp Hồ Chí Minh', N'admin1@gmil.com', CAST(N'2021-03-04' AS Date), N'donghomanhthang@gmail.com', N'Đồng Hồ Mạnh Thắng', N'0902530204', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 0)
INSERT [dbo].[provider] ([id], [address], [create_by], [created_date], [email], [name], [phone], [update_by], [updated_date], [isdelete]) VALUES (2, N'25 Nguyễn Hậu, Phường Tân Thành, Quận Tân Phú, Tp Hồ Chí Minh', N'admin1@gmil.com', CAST(N'2021-03-04' AS Date), N'luxuryfashion@gmail.com', N'Đồ Hồ Luxury Fashion', N'0908616676', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 0)
INSERT [dbo].[provider] ([id], [address], [create_by], [created_date], [email], [name], [phone], [update_by], [updated_date], [isdelete]) VALUES (3, N'35A Lê Quang Sung, Phường 2, Quận 6, Tp Hồ Chí Minh', N'admin1@gmil.com', CAST(N'2021-03-04' AS Date), N'many@gmail.com', N'Đồng Hồ Mãn Ý', N'0903945318', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 0)
SET IDENTITY_INSERT [dbo].[provider] OFF
SET IDENTITY_INSERT [dbo].[storage] ON 

INSERT [dbo].[storage] ([id], [create_by], [created_date], [quantity], [update_by], [updated_date], [provider_id], [product_id]) VALUES (1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 10, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 1, 1)
INSERT [dbo].[storage] ([id], [create_by], [created_date], [quantity], [update_by], [updated_date], [provider_id], [product_id]) VALUES (2, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 10, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 1, 2)
INSERT [dbo].[storage] ([id], [create_by], [created_date], [quantity], [update_by], [updated_date], [provider_id], [product_id]) VALUES (3, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 10, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 2, 3)
SET IDENTITY_INSERT [dbo].[storage] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [address], [birthday], [created_date], [email], [fullname], [gender], [password], [phone], [update_date], [username], [isdelete]) VALUES (1, N'195 Nam Kì Khởi Nghĩa, Phường 7, Quận 3', CAST(N'1998-02-21' AS Date), CAST(N'2021-03-04' AS Date), N'user@gmail.com', N'Nguyễn Văn Long', 1, N'123456789', N'0927375838', CAST(N'2021-03-04' AS Date), N'user@gmail.com', 0)
INSERT [dbo].[users] ([id], [address], [birthday], [created_date], [email], [fullname], [gender], [password], [phone], [update_date], [username], [isdelete]) VALUES (2, N'123 Lý Chính Thắng, Phường 7, Quận 3', CAST(N'1998-02-21' AS Date), CAST(N'2021-03-04' AS Date), N'user1@gmail.com', N'Nguyễn Lê Minh', 1, N'123456789', N'0948292830', CAST(N'2021-03-04' AS Date), N'user1@gmail.com', 0)
INSERT [dbo].[users] ([id], [address], [birthday], [created_date], [email], [fullname], [gender], [password], [phone], [update_date], [username], [isdelete]) VALUES (3, N'982 Quang Trung, Phường 6 , Quận Go Vấp', CAST(N'1998-02-21' AS Date), CAST(N'2021-03-04' AS Date), N'user2@gmail.com', N'Nguyễn Thị Lan', 0, N'123456789', N'0935246745', CAST(N'2021-03-04' AS Date), N'user2@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[users] OFF
SET IDENTITY_INSERT [dbo].[voucher] ON 

INSERT [dbo].[voucher] ([id], [code], [create_by], [created_date], [expiration_date], [limit_use], [status], [update_by], [updated_date], [value], [product_type_id]) VALUES (1, N'Voucher1', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), CAST(N'2021-03-11' AS Date), 1, 1, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 100000, 1)
INSERT [dbo].[voucher] ([id], [code], [create_by], [created_date], [expiration_date], [limit_use], [status], [update_by], [updated_date], [value], [product_type_id]) VALUES (2, N'Voucher1', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), CAST(N'2021-03-11' AS Date), 4, 0, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 100000, 1)
INSERT [dbo].[voucher] ([id], [code], [create_by], [created_date], [expiration_date], [limit_use], [status], [update_by], [updated_date], [value], [product_type_id]) VALUES (3, N'Voucher1', N'admin@gmail.com', CAST(N'2021-03-04' AS Date), CAST(N'2021-03-11' AS Date), 1, 0, N'admin@gmail.com', CAST(N'2021-03-04' AS Date), 90000, 1)
SET IDENTITY_INSERT [dbo].[voucher] OFF
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FKg5uhi8vpsuy0lgloxk2h4w5o6] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FKg5uhi8vpsuy0lgloxk2h4w5o6]
GO
ALTER TABLE [dbo].[cart_detail]  WITH CHECK ADD  CONSTRAINT [FK37hai783jhfcqo6h0pkiqmc9s] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[cart_detail] CHECK CONSTRAINT [FK37hai783jhfcqo6h0pkiqmc9s]
GO
ALTER TABLE [dbo].[cart_detail]  WITH CHECK ADD  CONSTRAINT [FKrg4yopd2252nwj8bfcgq5f4jp] FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
GO
ALTER TABLE [dbo].[cart_detail] CHECK CONSTRAINT [FKrg4yopd2252nwj8bfcgq5f4jp]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FKm1rmnfcvq5mk26li4lit88pc5] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FKm1rmnfcvq5mk26li4lit88pc5]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FKqm52p1v3o13hy268he0wcngr5] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FKqm52p1v3o13hy268he0wcngr5]
GO
ALTER TABLE [dbo].[delivery]  WITH CHECK ADD  CONSTRAINT [FKl9f8gnghd4aky6n38g0q6p9i9] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoice] ([id])
GO
ALTER TABLE [dbo].[delivery] CHECK CONSTRAINT [FKl9f8gnghd4aky6n38g0q6p9i9]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FKc8jotskr93810vgn75qlbusw2] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FKc8jotskr93810vgn75qlbusw2]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FKh8mc37lrohbk7stgatwwn5doq] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[voucher] ([id])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FKh8mc37lrohbk7stgatwwn5doq]
GO
ALTER TABLE [dbo].[invoice_detail]  WITH CHECK ADD  CONSTRAINT [FKbe6c21nke5fy4m3vw00f23qsf] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[invoice_detail] CHECK CONSTRAINT [FKbe6c21nke5fy4m3vw00f23qsf]
GO
ALTER TABLE [dbo].[invoice_detail]  WITH CHECK ADD  CONSTRAINT [FKit1rbx4thcr6gx6bm3gxub3y4] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoice] ([id])
GO
ALTER TABLE [dbo].[invoice_detail] CHECK CONSTRAINT [FKit1rbx4thcr6gx6bm3gxub3y4]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK8uclq5pou7dl44m9fj0i8rvlt] FOREIGN KEY([product_types_id])
REFERENCES [dbo].[product_type] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK8uclq5pou7dl44m9fj0i8rvlt]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FKs6cydsualtsrprvlf2bb3lcam]
GO
ALTER TABLE [dbo].[product_detail]  WITH CHECK ADD  CONSTRAINT [FKilxoi77ctyin6jn9robktb16c] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_detail] CHECK CONSTRAINT [FKilxoi77ctyin6jn9robktb16c]
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD  CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_image] CHECK CONSTRAINT [FK6oo0cvcdtb6qmwsga468uuukk]
GO
ALTER TABLE [dbo].[product_property_detail]  WITH CHECK ADD  CONSTRAINT [FKc4r6lphnfmjs4dw1wphpn8jin] FOREIGN KEY([product_property_id])
REFERENCES [dbo].[product_property] ([id])
GO
ALTER TABLE [dbo].[product_property_detail] CHECK CONSTRAINT [FKc4r6lphnfmjs4dw1wphpn8jin]
GO
ALTER TABLE [dbo].[product_property_detail]  WITH CHECK ADD  CONSTRAINT [FKlw7vvi10bulb8a3ikt43l4xcn] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_property_detail] CHECK CONSTRAINT [FKlw7vvi10bulb8a3ikt43l4xcn]
GO
ALTER TABLE [dbo].[storage]  WITH CHECK ADD  CONSTRAINT [FK39oh80j6vy5odd8cka80mmxsa] FOREIGN KEY([provider_id])
REFERENCES [dbo].[provider] ([id])
GO
ALTER TABLE [dbo].[storage] CHECK CONSTRAINT [FK39oh80j6vy5odd8cka80mmxsa]
GO
ALTER TABLE [dbo].[storage]  WITH CHECK ADD  CONSTRAINT [FKpomua9n0dfb2v8h2wv063epie] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[storage] CHECK CONSTRAINT [FKpomua9n0dfb2v8h2wv063epie]
GO
ALTER TABLE [dbo].[users_token]  WITH CHECK ADD  CONSTRAINT [FKesvxqrjrdcbe03rx712bwki3y] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[users_token] CHECK CONSTRAINT [FKesvxqrjrdcbe03rx712bwki3y]
GO
ALTER TABLE [dbo].[voucher]  WITH CHECK ADD  CONSTRAINT [FKtaek5yig6s8nal0smotivpjhl] FOREIGN KEY([product_type_id])
REFERENCES [dbo].[product_type] ([id])
GO
ALTER TABLE [dbo].[voucher] CHECK CONSTRAINT [FKtaek5yig6s8nal0smotivpjhl]
GO
ALTER TABLE [dbo].[wishlish]  WITH CHECK ADD  CONSTRAINT [FK9ajyr2io55dgq4p6gvxxlajkh] FOREIGN KEY([user_id])
REFERENCES [dbo].[cart] ([id])
GO
ALTER TABLE [dbo].[wishlish] CHECK CONSTRAINT [FK9ajyr2io55dgq4p6gvxxlajkh]
GO
ALTER TABLE [dbo].[wishlish]  WITH CHECK ADD  CONSTRAINT [FKk5gyq5srkehwym63xveyjvsnh] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[wishlish] CHECK CONSTRAINT [FKk5gyq5srkehwym63xveyjvsnh]
GO
ALTER TABLE [dbo].[wishlish]  WITH CHECK ADD  CONSTRAINT [FKo92933chkqfwhvni40h3yp5kp] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wishlish] CHECK CONSTRAINT [FKo92933chkqfwhvni40h3yp5kp]
GO
USE [master]
GO
